<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/4e01bf2025.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/header.css">

        
    </head>
    <body>
        <%- include ('_header'); %>

        <main id="layout-main">
            <%- body %>

        </main>

       
    </body>
</html>